*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
h1{
    padding: 15px 50px;
    color: white;
    border-radius: 10px;
    background-color:crimson;
    border: 2px solid white;
}
button{
    padding: 10px 20px;
    background-color: white;
    color: black;
}

button:active{
    scale: 0.95;
}