*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
#box{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    background-color: rgb(255,0,0);
}
button{
    margin-top: 50px;
    width: 150px;
    padding: 10px;
    color: white;
    border: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgb(255,255,255);
    background-color: salmon;
}
button:active{
    scale:0.95;
}