*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color:rgb(29, 28, 28);

}
#main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(26, 26, 26),rgb(35, 35, 35),black);
    padding: 20px;
}

section{
    height: 100%;
    width: 350px;
    background-color: rgb(18, 17, 17);
    border-radius: 10px;
    margin: auto;
}