*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 30px;
}
#card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

#card p span{
    font-weight: 600;
    color: royalblue;
}
#outer{
    margin: 30px;
    height: 20px;
    width: 90%;
    border-radius: 50px;
    background-color: #bcb3b3;

}
#inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.button h2{
    font-size: 60px;
}
.button button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}
.button button:active{
    scale:0.95;
}