*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items:center ;
    justify-content: center;
}
p{
    color: rgb(49, 134, 49);
    text-align: center;
    font-size: 30px;
}